
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>
    #1 Profilim<br />
    #2 Tüm Başlıklarda sayfalama<br />
    #3 Mesajda Session<br />
    #4 Oturum YÖnetimi Mimariye Taşıma<br />
    #5 Token Kullınımı
     
</p>

