﻿@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Hakkımızda Veri Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Hakkımda Başlığı</th>
        <th> Durum</th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutID</td>
            <td>Başlık</td>
            @if (item.AboutStatus == true)
            {
                <td>
                    <a class="btn btn-danger btn-sm" href="/About/AktifPasif/@item.AboutID">
                        <i class="fas fa-trash">
                        </i>
                        Pasif Yap
                    </a>
                </td>
            }
            else
            {
                <td>
                    <a class="btn btn-success btn-sm" href="/About/AktifPasif/@item.AboutID">
                        <i class="fas fa-trash">
                        </i>
                        Aktif Yap
                    </a>
                </td>
            }

        </tr>
    }
</table>
<br />
@Html.Action("AboutPatial", "About")